

   head {
    text-align: center;
    color: rgb(53, 53, 163);
    margin-left: 10px;
    font-family: monospace;
    font-size:40pt;
    color: rgb(177, 182, 196);
    background-attachment:inherit;
    padding:0mm;
    float: center; 
    padding: 10px;
  }
  h1 {
    text-align: center;
    color: rgb(76, 142, 228);
    margin-left: 10px;
    font-family: monospace;
    font-size:40pt;
    color: rgb(221, 224, 233);
    background-attachment:inherit;
    align-items:center;
    float: center; 
    padding: 1px;
  }

  h2 {
    text-align: center;
    color: rgb(53, 53, 163);
    margin-left: 10px;
    font-family: monospace;
    font-size:20pt;
    color: rgb(221, 224, 233);
    background-attachment:inherit;
    align-items:center;
    float: center; 
    padding: 1px;
  }  
  h3 {
    text-align: center;
    color: rgb(43, 126, 54);
    margin-left: 10px;
    font-family: monospace;
    color: rgb(221, 224, 233);
    font-size:15pt;
    align-items:center;
  }
  body { 
    background-size: 25%;
    background-position-x: 20mm;
    background-position-y: 100mm;
    color: rgb(221, 224, 233);
    align-items:center;
  }
  ul {
    border-radius: 5px;
    color: rgb(236, 235, 245);
    margin-left: 10px;
    font-family: monospace;
    font-size: large;
    font-style: oblique;
    color: rgb(221, 224, 233);
    align-items:center;
  }
 li {
    border-radius: 100px;

    color: rgb(16, 9, 80);
    margin-left: 10px;
    font-family: monospace;
    font-size: large;
    font-style: oblique;
    color: rgb(221, 224, 233);
    align-items:center;
  }
 p {
color: rgb(236, 235, 245);
    margin-left: 10px;
    font-family: monospace;
    font-size: large;
    font-style: oblique;
    color: rgb(221, 224, 233);
    align-items:center;
 }
  
/* Style the tab */
.tab {
  overflow: hidden;
  border: 10px solid rgb(236, 235, 245);
  background-color: rgb(236, 235, 245);
  forced-color-adjust:inherit;
  align-items:center;
}
.tab2 {
  overflow: hidden;
  border: 10px solid rgb(236, 235, 245);
  background-color: rgb(236, 235, 245);
  forced-color-adjust:inherit;
  align-items: center;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color:rgb(76, 142, 228);
  float: center;
  cursor: pointer;
  padding: 4px 5px;
  transition: 0.3s;
  align-items:center;
  
}
.tab2 button {
  background-color: rgb(103, 209, 191);
  float: center;
  cursor: pointer;
  padding: 4px 5px;
  transition: 0.3s;
  align-items:center;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(103, 209, 191);
  align-items:center;
}
.tab2 button:hover {
  background-color: rgb(76, 142, 228);
  align-items:center;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:   rgb(103, 209, 191);
  align-items:center;
}
.tab2 button.active {
  background-color: rgb(76, 142, 228);
  align-items:center;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 4px 5px;
  border: 1px solid  rgb(103, 209, 191);
  border-top: none;
  align-items:center;
  background-color:  rgb(76, 142, 228);
}

/* Style the tab content */
.tabcontent2 {
  display: none;
  padding: 4px 5px;
  border: 1px solid  rgb(103, 209, 191);
  border-top: none;
  align-items:center;
  background-color:  rgb(76, 142, 228);

}


/* Style the header */
.header {
  padding: 10px 10px;
  background-color:  rgb(76, 142, 228);
    color: #f1f1f1;
}

/* Page content */
.content {
  padding: 10px;
}